body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('img/danceFloor2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dot{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
img {
  position: absolute;
  height: 60px;
}
div div {
  position: relative;
}
div div img {
  position: absolute;
}
.destiny div .fred {
  left: 130px;
  top: 2px;
}
.destiny div .phil {
  left: 70px;
  top: 4px;
}
.destiny .marcus {
  left: 187px;
  top: 10px;
}
.destiny {
  background-image: url('img/beyonce.gif');
  background-position: center;
  width: 300px;
  height: 180px;
  position: absolute;
}
.carlton {
  background-image: url('img/carlton.gif');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 180px;
  position: absolute;
}
.carlton .allen {
  left: 30px;
  top: 5px;
}
