body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('img/danceFloor2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dot{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
img {
  position: absolute;
  height: 60px;
}
div div {
  position: relative;
}
div div img {
  position: absolute;
}
.destiny div .fred {
  left: 130px;
  top: 2px;
}
.destiny div .phil {
  left: 70px;
  top: 4px;
}
.destiny .marcus {
  left: 187px;
  top: 10px;
}
.destiny {
  background-image: url('img/beyonce.gif');
  background-position: center;
  width: 300px;
  height: 180px;
  position: absolute;
}

.snoop img {
  top: 12px;
  left: 45px;
}

.snoop .pira {
  top: 12px;
  left: 55px;
}

.snoop {
  background-image: url('img/dog.gif');
  position: absolute;
  width: 150px;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  }


.step .alex {
  top: 7px;
  left: 40px;
}

.step .sunny {
  top: 7px;
  left: 37px;
}

.step {
  background-image: url('img/step.gif');
  position: absolute;
  width: 130px;
  height: 180px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.carlton {
  background-image: url('img/carlton.gif');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 180px;
  position: absolute;
}
.carlton .allen {
  left: 30px;
  top: 5px;
}

.light2 {
  width: 350px;
  height: 450px;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('img/spotlightL.png');
}

.light {
  width: 350px;
  height: 450px;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('img/spotlightR.png');
}
